
<h1>Musics Details {{ title }}</h1>

{{#if music}}
    <h2>title: {{ music.title }}</h2>

    <p>type: {{ music.type }}</p>
    <p>year: {{ music.year }}</p>
    <p>publisher: {{ music.publisher }}</p>

{{else}}
    <p>not found</p>
{{/if}}

<p><a href="/">Back</a></p>